# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/
notes.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Secrets — NEVER commit these
*.pem
*.key
cloudnotes_key
cloudnotes_key.pub
temp_key.txt
*_accessKeys.csv
docker/.env
start_automated.ps1
