# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/
notes.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Secrets
*.pem
*.key
